{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}






<div class="account-forms">
  <img id="formimage" src="static/logo.png">
  <h2 id="standardcolor">Register</h4>
    {% if not username %}
    <div class="alert alert-danger" role="alert">
      Username taken or username field blank!
    </div>
    {% elif not email %}
    <div class="alert alert-danger" role="alert">
      You must enter a email!
      </div>
    {% elif not password %}
    <div class="alert alert-danger" role="alert">
      You must enter a password!
    </div>
    {% elif not confirmpassword %}
    <div class="alert alert-danger" role="alert">
      Your password does not match!
    </div>
    {% endif %}
    <form action="/register" method="post">
      <div class="form-group">
        <input name="username" type="username" class="form-control" placeholder="Username"
          autocomplete="off" autofocus>
      </div>
      <div class="form-group">
        <input name="email" type="email" class="form-control" placeholder="Email" aria-describedby="emailHelp"
          autocomplete="off">
      </div>
      <div class="form-group">
        <input name="password" type="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
        <input name="confirmpassword" type="password" class="form-control" placeholder="Confirm Password">
      </div>
      <button type="submit" class="btn btn-secondary btn-sm">Register</button>
    </form>
</div>

{% endblock %}